# Ignore everything in parent directories
../*
# But don't ignore the current project directory
!../SQLServer-Optimization-DR/
# Ignore specific system files and folders
*.log
*.tmp
*.lnk
desktop.ini
# Don't ignore project log file
!optimization_log.txt